@using System.Configuration
@using System.Reflection
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>demo today</h1>
    <h1>App @ViewBag.appversion</h1>
    <h1>App @ViewBag.buildversion</h1>
    <h1>envir: @ConfigurationManager.AppSettings["envir"]</h1>
</div>
