@using System.Reflection
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>App Version v @HttpContext.Current.ApplicationInstance.GetType().BaseType.Assembly.GetName().Version</h1>
</div>
