@using System.Configuration
@using System.Reflection
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>App v @HttpContext.Current.ApplicationInstance.GetType().BaseType.Assembly.GetName().Version</h1>
    <h1>envir: @ConfigurationManager.AppSettings["envir"]</h1>
    <h1>connectionString: @ConfigurationManager.AppSettings["connectionString"]</h1>
</div>
